/*! CSS bare bones for recipes site */

 html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */


body{ background-color: rgb(175, 81, 81);}




header {
 padding: 10px;
 margin-bottom: 15px;
 text-align: center;
 @import url(https://fonts.googleapis.com/css?family=Playfair+Display);
  font-family: 'Playfair Display',serif;


}


h1 {


color: rgb(85, 32, 32);
padding-top: 30px;
margin-bottom: 15px;
text-align: center;
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
 font-family: 'Playfair Display',serif;
}

h2{color:rgb(59, 11, 10);
margin: 10px;
padding-top: 12px;
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
 font-family: 'Playfair Display',serif;
}




h6{color:rgb(59, 11, 10);
 margin: 10px;
 padding-top: 12px;
 @import url(https://fonts.googleapis.com/css?family=Playfair+Display);
   font-family: 'Playfair Display',serif;
 }



main{
width: 60%;
max-width: 850px;
border:1px solid rgb(233, 164, 164)ple;
padding: 0 12px 0 12px;
margin:0 auto;
background-color: white;
padding-bottom: 25px;} 


img{
  width:100%;
margin: 15px 0px;
}


ul{margin-left: 40px;
margin-top: 10px;
}
li{font-size:.8em;
margin-bottom: 12px;}


a:link    { color: rgb(0, 0, 0); text-decoration: none; }
a:visited { color: rgb(0, 0, 0); text-decoration: none; }
a:hover   { color: rgb(233, 164, 164); text-decoration: none; }
a:active  { color: rgba(233, 164, 164, 0.436); text-decoration: none; }


